<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Header</title>

<%if (user) {%>
    <h2> Hi, <%= user.email%>!</h2>
    <form method="POST" action="/logout">
        <button>Logout</button>
    </form>
<% } else { %>
    <a href="/register %>" title = "register">Register</a>
    <a href="/login %>" title = "login">Login</a>
<%}%>

    
