<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>URLS</title>
</head>
<body>
    <% include partials/_header %>
    <a href="/urls/new %>" title = "newURL">Create new URL</a>
    <h1>URLS</h1>
    <ul>
      <% for(var i in urls) { %>
        <li>
          <a>
            <%= i%>
          </a>
          -
          <a href='#'>
            <%= urls[i].longURL %>
          </a>
        </li>
        <form method="POST" action="/urls/<%= i %>?_method=DELETE"><button>Delete</button></form>
        <a href="/urls/<%= i %>" title = "updateUrl">edit</a>
      <% } %>
    </ul>
</body>
</html>